<nav class="sidebar">
  <div id="profile-container">
    <div id="welcome">
      {{#unless isLoggedIn}}
      <img id="logo" alt="logo" src="/media/logo.png">
      <h1>Hy·gge</h1>
      <p>Spend a calm, confortable time with people you love. Enjoy with good food and drinks, warm blankets and
        candlelight.</p>
      {{/unless}}
      {{#if isLoggedIn}}
      <div id="logo-container"><img id="logo" alt="logo" src="/media/logo.png">
        <h1>Hy·gge</h1>
      </div>
      <div id="welcome-container">
        <h3>Hello {{user.name}}</h3>
        <p> Have a nice day. Enjoy every moment.</p>
      </div>
      {{/if}}
    </div>
  </div>
  {{#if user.admin}}
  <div id="menu-admin">
    <a href="/manage/Recipe">Manage recipes</a>
    <a href="/manage/Moto">Manage sentences</a>
    <a href="/manage/Picture">Manage pictures</a>
  </div>
  {{/if}}

  {{#unless user.admin}}
  <div id="menu-admin" class="hidden">
    <a href="/favorite/Recipe"><img id ="logo" src="/media/logo-coeur.png">Recipes </a>
    </div>
   {{/unless}}


  {{#if isLoggedIn}}
  <div id="menu-admin">
    <a href="/favorite/Recipe"><img id ="logo" src="/media/logo-coeur.png">Recipes </a> 
    </div>
  {{/if}}

  <div class="footer">
    {{#unless isLoggedIn}}
    <div id="connect"><a id="connect-button" href="/login">Login</a>
      <p><a id="signup-button" href="/signup">Sign up</a></p>
    </div>
    {{/unless}}
    {{#if isLoggedIn}}
    <div id="connect"><a id="connect-button" href="/logout">Log out</a>
    </div>
    {{/if}}
    <p class="social-buttons">
      <img alt="logo insta" src="/media/logo-insta.png">
      </img>
      <img alt="logo dribble" src="/media/logo-dribble.png">
      </img>
      <img alt="logo twitter" src="/media/logo-twitter.png">
      </img>
    </p>
    <p id="special">@Hygge | Website created by Inga et Virginie</p>
  </div>
</nav>