<nav class="sidebar">
  <div id="profile-container">
    <div id="welcome">
      <img id="logo" alt="logo" src="/media/logo.png">
      <h1>Hy·gge</h1>
      <p>Spend a calm, confortable time with people you love. Enjoy with good food and drinks, warm blankets and
        candlelight.</p>
    </div>
    <div id="connect"><a id="connect-button" href="/journal">Se connecter</a></div>
    <a href="/add_elements">Add content</a>
    <a href="/edit_elements">Edit element</a>

  </div>
  <div class="footer">

    <p class="social-buttons">
      <img alt="logo insta" src="/media/logo-insta.png">
      </img>
      <img alt="logo dribble" src="/media/logo-dribble.png">
      </img>
      <img alt="logo twitter" src="/media/logo-twitter.png">
      </img>
    </p>
    <p id="special">@Hygge | Website created by Inga et Virginie</p>
  </div>
</nav>