<nav class="sidebar">
  <div id="profile-container">
    <div id="welcome">
      <img id="logo" alt="logo" src="/media/logo.png">
      <h1>Hy·gge</h1>
      <p>Spend a calm, confortable time with people you love.Enjoy with good food and drinks, warm blankets and
        candlelight.</p>
    </div>
    <div class="footer">
      <button>Se connecter</button>
    </div>
  </div>
</nav>