<div class="add-big-container" >
  <form method="post" action="/add/Recipe" class="add-recipe-form" enctype="multipart/form-data">

    <h1 class="form-title">Add a recipe</h1>

    {{!------------------------------- name ----------------------------------}}
    <div class="form-item-wrapper">
      <label for="recipe-name" class="label-name label">Name</label>
      <input type="text" class="input-text input" placeholder="chocolate cake" name="name" required>
    </div>

    {{!------------------------------- description ----------------------------------}}
    <div class="form-item-wrapper">
      <label for="recipe-description" class="label-description label">Description</label>
      <input type="text" class="input-text input" name="description" id="recipe-description" placeholder="share it with your friends" required>
    </div>

    {{!----------------------------- preparation time ------------------------------}}
    <div class="form-item-wrapper">
      <label for="preparation" class="label-prep label">Preparation time</label>
      <input type="number" class="input-number input" placeholder="less than an hour preparation" name="preparation" required>
    </div>

    {{!------------------------------- img ----------------------------------}}
    <div class="form-item-wrapper">
      <label for="recipe-img" class="label-image label">Image</label>
      <input type="file" class="input-img input" name="img" required>
    </div>

      {{!------------------------------- ingredients ----------------------------------}}
    
    <div class="form-item-wrapper items-input">
      <div class="add-items">
      <label for="ingredient" class="label-ingredient label">Ingredients</label>
      <input name="ingredient" id="ingredient" class="input-text input" placeholder="120g of butter">
      <p class="button" id="new-ingredient">+</p>
      </div>
    

    <div id="ingredients-list">
    </div>

    <fieldset id="hidden-ingredients">
    </fieldset>
    </div>
    {{!------------------------------- instructions ----------------------------------}}
    <div class="form-item-wrapper items-input">
      <div class="add-items">
        <label for="method" class="label-instructions label">Methods</label>
        <input type="text" name="new-instruction" id="method" placeholder="bake 30 minutes in the oven">
        <p class="button" id="new-method">+</p>
      </div>
      <div id="methods-list">
      </div>
     <fieldset id="hidden-methods">
     </fieldset>
    </div>

    {{!------------------------------- category ----------------------------------}}
    <fieldset class="form-item-wrapper">
      <legend>Category</legend>
      <div>
        <input type="checkbox" class="input-text input" name="category" id="breakfast" value="breakfast">
        <label for="breakfast" class="label-cat label">breakfast</label>
      </div>
      <div>
        <input type="checkbox" class="input-text input" name="category" id="desert" value="desert">
        <label for="desert" class="label-cat label">desert</label>
      </div>
      <div><input type="checkbox" class="input-text input" name="category" id="dish" value="dish">
        <label for="dish" class="label-cat label">dish</label></div>
      <div><input type="checkbox" class="input-text input" name="category" id="drink" value="drink">
        <label for="drink" class="label-cat label">drink</label></div>
      <div><input type="checkbox" class="input-text input" name="category" id="starter" value="starter">
        <label for="starter" class="label-cat label">starter</label></div>
      <div><input type="checkbox" class="input-text input" name="category" id="teatime" value="teatime">
        <label for="teatime" class="label-cat label">teatime</label></div>
    </fieldset>

    {{!---------------------------- seasons ---------------------------------------}}

    <fieldset class="form-item-wrapper">
      <legend>Season</legend>
      <div><input type="checkbox" class="input-text input" name="season" id="Spring" value="Spring">
        <label for="Spring" class="label-cat label">Spring</label></div>
      <div><input type="checkbox" class="input-text input" name="season" id="Summer" value="Summer">
        <label for="Summer" class="label-cat label">Summer</label></div>
      <div><input type="checkbox" class="input-text input" name="season" id="Fall" value="Fall">
        <label for="Fall" class="label-cat label">Fall</label></div>
      <div><input type="checkbox" class="input-text input" name="season" id="Winter" value="Winter">
        <label for="Winter" class="label-cat label">Winter</label></div>
    </fieldset>
    <button class="button-primary add-category-btn">Save</button>
    </div>
  </form>