{{#if user.admin}}
<section class="add-big-container">
  <div class="big-container product-manage-wrapper flexed-item">
    <form method="POST" action="/add/Sentence" class="add-recipe-form">
      <h3 class="form-title">Add a sentence</h3>
      <div class="form-item-wrapper flexed-item">
        <label for="sentence" class="label-sentence label">Sentence Of The Day</label>
        <textarea name="sentence" id="sentence"
          placeholder="a ritual where you can find enjoyment & confort in life's simple pleasures" cols="30"
          rows="5"></textarea>
      </div>
      <button class="button-primary add-category-btn">Save</button>
    </form>
  </div>

</section>
{{/if}}