<section id="big-container">
  <div class="container">
    <div class="maxi-pic" id="pict_otd" style="background-image:url(/media/img1.jpg); background-size:cover">
      <div class="home-pict">
        <span>
          <h1>Vivez le moment présent</h1>
          <p>Chaque jour, nous vous préparons :</p>
          <ul>
            <li>des conseils pour créer une ambiance intime</li>
            <li>des idées de recettes</li>
            <li>un cadre bien-être</li>
            <p>Pour en profiter, <a href="/sign-up">inscrivez-vous.</a></p>
          </ul>
        </span>
      </div>

    </div>
    <div class="mini-pic" id="drink_otd" style="background-image:url(/media/img2.jpg); background-size:cover">
      <div class="home-pict">
        <span>
          <h1>Entretenez la positive attitude</h1>
          <p>Nous vous aidons à noter 3 idées positives par jour</p>
          <a href="/sign-up">
            <p>Inscrivez-vous</p>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="mini-pic" id="sentence_otd" style="background-image:url(/media/IMG_3916.jpg); background-size:cover">
      <div class="home-pict">
        <span>
          <h1>Hy·gge (prononcé[[y.gœ]])</h1>
          <p>
            Mot d’origine danoise et norvégienne faisant référence à un sentiment de bien-être, une humeur joyeuse et
            une atmosphère intime et chaleureuse. Le hygge est un état d’esprit positif procuré par un moment jugé
            réconfortant, agréable et convivial.
          </p>
        </span>
      </div>
    </div>

    <div class="maxi-pic" id="recipe_otd" style="background-image:url(/media/IMG_3914.jpg); background-size:cover">
      <div class="home-pict">
        <span>
          <h1>Les règles d'or</h1>
          <p>
            <ol>
              <li>Créer une ambiance douce et chaleureuse</li>
              <li>Eteindre vos smartphones et PC</li>
              <li>Se faire plaisir et faire plaisir aux autres</li>
              <li>Prendre le temps d'apprécier les petites choses</li>
            </ol>
          </p>
        </span>
      </div>
    </div>
  </div>

</section>