<section id="big-container">
  <div class="container">
    <div id="pict_otd">
      <img class="max_pict" alt="pict1" src="/media/img1.jpg">
    </div>
    <div id="drink_otd">
      <img class="min_pict" alt="pict2" src="/media/img2.jpg">
    </div>
  </div>
  <div class="container">
    <div id="sentence_otd">
      <img class="min_pict" alt="pict3" src="/media/IMG_3916.jpg">
    </div>
    <div id="recipe_otd">
      <img class="max_pict" alt="pict4" src="/media/IMG_3914.jpg">
    </div>
  </div>

</section>