<section id="big-container">
  <div class="container">
    <div class="maxi-pic" id="pict_otd" style="background-image:url(/media/img1.jpg); background-size:cover">
      <div class="home-pict">
        <span>
          <h1>Live your present life</h1>
          <p>Everyday,we will prepare :</p>
          <ul>
            <li>advices in order to create an intimate atmosphere</li>
            <li>recipe's ideas</li>
            <li>a well-being framwork</li>
            <p>Wanna Try <a href="/sign-up">inscrivez-vous.</a></p>
          </ul>
        </span>
      </div>

    </div>
    <div class="mini-pic" id="drink_otd" style="background-image:url(/media/img2.jpg); background-size:cover">
      <div class="home-pict">
        <span>
          <h1>entertain the positive attitude</h1>
          <p>We will help you create 3 positives sentences each day</p>
          <a href="/sign-up">
            <p>Subscribe</p>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="mini-pic" id="sentence_otd" style="background-image:url(/media/IMG_3916.jpg); background-size:cover">
      <div class="home-pict">
        <span>
          <h1>Hy·gge (pronunced[[y.gœ]])</h1>
          <p>
            a quality of cosiness and comfortable conviviality that engenders a feeling of contentment or
            well-being.Regarded as a defining characteristic of Danish culture.
          </p>
        </span>
      </div>
    </div>

    <div class="maxi-pic" id="recipe_otd" style="background-image:url(/media/IMG_3914.jpg); background-size:cover">
      <div class="home-pict">
        <span>
          <h1>Gold Rules</h1>
          <p>
            <ol>
              <li>Create a cozy and warm atmosphere </li>
              <li>Turn off your smartphones and computers</li>
              <li>Have fun and pleased others</li>
              <li>Take time to appreciate simple things</li>
            </ol>
          </p>
        </span>
      </div>
    </div>
  </div>

</section>