<section id="big-container">
  <div class="container">
    <div class="maxi-pic" id="pict_otd" style="background-image:url(/media/img1.jpg); background-size:cover">
    </div>
    <div class="mini-pic" id="drink_otd" style="background-image:url(/media/img2.jpg); background-size:cover">
      <div class="pict-hovered">
        <span>
          <div class="toque"><img alt="toque" src="/media/toque.png"></div>

          <h1>Chocolat Chaud à la canelle</h1>
          <p> La canelle énergise en douceur etc etc </p>
          <div class="cooking-button"><a href="/show">Cooking</a></div>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="mini-pic" id="sentence_otd" style="background-image:url(/media/IMG_3916.jpg); background-size:cover">
      <div class="pict-hovered">
        <span>
          <h3>Turn your phone off before sleeping at night</h3>
        </span>
      </div>
    </div>

    <div class="maxi-pic" id="recipe_otd" style="background-image:url(/media/IMG_3914.jpg); background-size:cover">
      <div class="pict-hovered">
        <span>
          <div class="toque"><img alt="toque" src="/media/toque.png"></div>
          <h1>Saumon gravlax</h1>
          <p>Invitez quelques amis pour partager cette recette typiquement suédoise.</p>
          <div class="cooking-button"><a href="/show">Cooking</a></div>
          </a>


        </span>
      </div>
    </div>
  </div>

</section>