<div >
  <div >
    <h1>Enjoy yourself on Hygge !</h1>
  </div>
    <form action="/login" method="POST" id="form_user">
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="albert.biceps@gmail.com" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="••••••" required>
      </div>
      {{#if errorMessage }}
   <div class="error-message">{{ errorMessage }}</div>
   {{/if}}
      <button >Connect to Account</button>
    </form>

    
    <p>Don't have an account yet ? <a href="/signup">Sign Up</a></p>
</div>

