<section class="manage-container">
  {{#if recipes}}
  <h1>Manage Recipes</h1>
  <div id="search-add">
    <label for="search-bar">Search : </label>
    <input type="text" id="search-bar" name="name" required minlength="4" maxlength="40" size="40">
    <p>or</p>
    <a href="/add/Recipe" id="add-button">
      +
    </a>
  </div>

  <div id="table">
    <table class="product-manage-table">
      <thead>
        <tr class="table-row">
          <th colspan="1" class="table-head">Recipe's name</th>
          <th colspan="1" class="table-head"> </a> Edit</th>
          <th colspan="1" class="table-head">Delete</th>
        </tr>
      </thead>

      <tbody>
        {{#each recipes}}
        <tr class="table-row">
          <td class="table-division">
            <div>{{this.name}}</div>
          </td>
          <td class="table-division"><a href="/edit/Recipe/{{this._id}}" class="fa fa-edit table-icon"><img
                alt="edit logo" src="/media/edit-logo.png" id="edit-logo"></a>
          <td class="table-division"><a href="/delete/Recipe/{{this._id}}" class="fa fa-trash table-icon"
              aria-hidden="true"><img alt="delete logo" src="/media/delete-logo.png" id="delete-logo"></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  {{/if}}