<section id="show-container">
  <div class="show-description">
    <h1>Saumon gravlax</h1>
    <h3>Invitez des amis pour partager cette recette typiquement suédoise</h3>
  </div>
  <div class="show-img">
    <img alt="dish-pic" src="/media/img-14.jpg">
    <p>Temps de préparation : 15min</p>
  </div>
  <div class="show-ingredients">
    <h3>Ingredients</h3>
    <ul>
      <li>saumon</li>
      <li>citron</li>
    </ul>
  </div>
  <div class="show-methods">
    <h3>Methods</h3>
    <ul>
      <li>couper</li>
      <li>manger</li>
    </ul>

  </div>


</section>