<div>
  <div>
    <h1>Enjoy the present day with hygge</h1>
  </div>
  <form action="/signup" method="POST" id="form_user">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Albert" required>
    </div>
    <div>
      <label for="email" >Email</label>
      <input type="email" name="email"  placeholder="albert.biceps@gmail.com" required>
    </div>
    <div>
      <label for="password" >Password</label>
      <input type="password" name="password" placeholder="••••••" required>
    </div>
    <button>Create Account</button>
  </form>
  <p>Already have an account ? <a href="/login">Sign In</a></p>
</div>