<section class="manage-container">
  <h1>Enjoy the present day with Hy·gge</h1>
  <div class="auth-form">
    <form method="POST" action="/signup" id="form_user">
      <div class="input">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Albert" required>
      </div>
      <div class="input">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="albert.biceps@gmail.com" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="••••••" required>
      </div class="input">
      <button class="btn" id="create-account-btn">Create Account</button>
    </form>

    <p>Already have an account ? <a href="/login">Sign In</a></p>
  </div>
</section>