.add-big-container {
  margin-left: 40px;
}

.form-title {
  size: 1.5em;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.form-item-wrapper {
  flex-direction: column;
  margin-bottom: 1.1rem;
}

#hidden-ingredients {
  visibility: hidden;
  margin: 0;
}

#ingredients-list {
  display: flex;
  flex-wrap: wrap;
}

.item-ingredient {
  margin: 5px 10px;
  padding-left: 5px;
  background-color: lightgrey;
  display: flex;
}

.item-ingredient p {
  margin: 0;
  margin-right: 1em;
}

#hidden-methods {
  visibility: hidden;
  margin: 0;
}

.items-input {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.add-items {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 0;
  background-color: tan;
  color: white;
  border-radius: 6px;
  padding: 0 5px;
}

.button p:hover {
  color: black;
}

/* EDIT */

#edit-img {
  height: 80px;
  margin-left: 5px;
}

.input-text {
  width: 80%;
}

.edit-logo {
  max-height: 10px;
}

.save-button {
  background-color: tan;
  font-size: 1em;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

/* SIGN UP */

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 10px;
}

.auth-form.btn {
  margin: 10px;
}
