.add-big-container {
  margin-left: 40px;
}

.form-title {
  size: 1.5em;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.form-item-wrapper {
  flex-direction: column;
  margin-bottom: 1.1rem;
}

#hidden-ingredients {
  visibility: hidden;
  margin: 0;
  display: none;
}

#ingredients-list {
  display: flex;
  flex-wrap: wrap;
}

#methods-list {
  display: flex;
  flex-wrap: wrap;
}

.boxes {
  margin: 5px 10px;
  padding-left: 5px;
  background-color: lightgrey;
  display: flex;
}

.boxes p {
  margin: 0;
  margin-right: 1em;
}

#hidden-methods {
  visibility: hidden;
  margin: 0;
  display: none;
}

.items-input {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.add-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  margin-right: 10px;
}

/* EDIT */

#edit-img {
  height: 80px;
  margin-left: 5px;
}

.edit-logo {
  max-height: 10px;
}

/* SIGN UP */
.form-container {
  margin: 10px 10px 10px 40px;
}
.form-title {
  size: 2em;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
}

.form-img img {
  max-width: 300px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid black;
  text-align: end;
}

.input {
  margin-bottom: 10px;
}

.auth-form.btn {
  margin: 10px;
}
