#big-container {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

.container {
  flex-grow: 1;
  flex-basis: 300px;
  margin-left: 20px;
  position: relative; /* pour servir de référent */
  width: 16em; /* largeur à ajuster suivant le besoin */
  overflow: hidden; /* masque les dépassements */
  line-height: 2em;
}

.container > div {
  width: 100%;
  margin-bottom: 10px;
}

.container img {
  width: 100%;
  z-index: 1; /* image au dessus */
  position: relative; /* pour prise en compte z-index */
}

.maxi-pic {
  height: 450px;
}

.mini-pic {
  height: 325px;
}

.pict-hovered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pict-hovered span {
  padding: 0 0.25em; /* un peu d'espace latéral */
  color: #555; /* couleur du texte à ajuster suivant le besoin */
  background-color: rgba(255, 255, 255, 0.6);
  transition: opacity 1s linear;
  opacity: 0;
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* left: 2em; */
}

.pict-hovered:hover span {
  opacity: 1;
  left: 2em;
}

.pict-hovered h1 {
  text-align: center;
}
.pict-hovered {
  text-align: center;
}

.pict-hovered li {
  text-align: start;
}

.pict-hovered a {
  text-decoration: none;
  color: #555;
}
