@import "./sidebar.css";
@import "./home.css";
@import "./forms.css";
@import "./journal.css";
@import "./show.css";

/*importer les differentes pages css*/
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.78;
  color: #555;
  background-color: #fff;
  margin: 0;
}

ul, ol {
  margin:0;
  padding: 0;
}


h1, h2, h3 {
  margin:0;
  padding: 0;
}

#body-container {
  height: 100vh;
  padding-left: 240px;
}
