.sidebar {
  left: 0;
  top: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 260px;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #d2b48c;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#profile-container {
  padding: 30px;
}
#profile-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: black;
  margin: 0;
}

#profile-container p {
  margin: 5px 0px;
  color: #3a3b3d;
}
#logo-container {
  display: flex;
  margin-bottom: 20px;
}

#connect {
  margin: 20px;
  text-align: center;
}

#connect-button {
  font-size: 0.8em;
  padding: 0.8em;
  font-size: 1em;
  border-bottom: 1px solid black;
  text-decoration: none;
  color: black;
}

#signup-button {
  font-size: 0.8em;
  padding: 0.8em;
  font-size: 1em;
  text-decoration: none;
  color: black;
}

#logo {
  max-height: 40px;
  margin-right: 10px;
}

.footer {
  text-align: center;
}

.nav-footer-social-buttons {
  margin-bottom: 0;
  margin-left: -10px;
}

.social-buttons {
  margin: 5px;
}

.social-buttons img {
  max-height: 15px;
  margin-right: 15px;
}

#special {
  font-family: "Montserrat";
  font-size: 10px;
  padding: 2em;
  margin: 0;
  color: white;
  background-color: #3a3b3d;
}
#menu-admin {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

#menu-admin a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}
